name: Test get version of dependencies

on:
  workflow_dispatch:
    inputs:
      gcc-version:
        description: 'GCC Version'
        required: true
        default: '13.2.0'

jobs:
  build-cross:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install System dependencies
        shell: bash
        env:
          GITHUB_WORKSPACE: ${{ github.workspace }}
          FORCE_COLOR: '1'
        run: |
          set -euo pipefail

          export LOG_DIR="${GITHUB_WORKSPACE}/logs"
          mkdir -p "${LOG_DIR}"
          source "${GITHUB_WORKSPACE}/scripts/functions.sh"

          info "开始安装系统依赖（apt-get）"

          run "apt-get update" sudo apt-get update

          pkgs="git wget tar jq base64"

          run "apt-get install packages" bash -lc 'sudo DEBIAN_FRONTEND=noninteractive apt-get install -y '"$pkgs"

          info "系统依赖安装完成"

      - name: Get Dependencies Version
        id: get-versions
        shell: bash
        env:
          GITHUB_WORKSPACE: ${{ github.workspace }}
          GCC_VERSION: ${{ github.event.inputs.gcc-version }}
          DEP_ISON_FILE: "${{ github.workspace }}/dependencies.json"
        run: |
          set -euo pipefail
          source "${GITHUB_WORKSPACE}/scripts/functions.sh"
          info "GCC 版本: ${GCC_VERSION}"
          run "获取组件版本信息" export_versions_from_json "${DEP_ISON_FILE}" "${GCC_VERSION}" env

      - name: Print Dependencies Version
        shell: bash
        env:
          GITHUB_WORKSPACE: ${{ github.workspace }}
          GCC_VERSION: ${{ github.event.inputs.gcc-version }}
        run: |
          set -euo pipefail
          source "${GITHUB_WORKSPACE}/scripts/functions.sh"

          export GITHUB_BASE_URL="https://github.com"
          export GNU_BASE_URL="https://ftp.gnu.org/gnu"

          # optional tuning
          export LOG_DIR="${GITHUB_WORKSPACE}/logs"
          export FORCE_COLOR=1
          mkdir -p "${LOG_DIR}"
          IGNORE_REGEX='array subscript 0 is outside array bounds'
          LOG_TAIL_LINES=80
          FAIL_ON_FATAL_IN_SUCCESS=1

          export SOURCE_CODE_DIR="${GITHUB_WORKSPACE}/source-code"

          mkdir -p "${SOURCE_CODE_DIR}" "${GITHUB_WORKSPACE}/logs"

          gnu_pkgs=( gcc binutils libiconv make termcap ncurses readline gdbm gdb )
          pkgs=( expat )
          github_pkgs=( mingw-w64 python openssl sqlite ninja cmake libffi pkgconf )

          for p in "${gnu_pkgs[@]}";do
            if [[ "${p}" == "gcc" ]]; then
              version="${GCC_VERSION}"
              echo "下载${p} 源码版本: ${version}"
              run "下载${p} 源码" curl_download "${GNU_BASE_URL}/${p}/${p}-${version}/${p}-${version}.tar.gz" "${SOURCE_CODE_DIR}"
              echo "解压${p} 源码版本: ${GCC_VERSION}"
              run "解压${p} 源码" archive_extract "${p}" "${SOURCE_CODE_DIR}/${p}-${GCC_VERSION}.tar.gz" "${SOURCE_CODE_DIR}"
            else
              ver="$(echo "$p" | tr '[:lower:]' '[:upper:]')"
              echo "下载${p} 源码版本: ${!ver}"
              run "下载${p} 源码" curl_download "${GNU_BASE_URL}/${p}/${p}-${!ver}.tar.gz" "${SOURCE_CODE_DIR}"
              echo "解压${p} 源码版本: ${!ver}"
              run "解压${p} 源码" archive_extract "${p}" "${SOURCE_CODE_DIR}/${p}-${!ver}.tar.gz" "${SOURCE_CODE_DIR}"
            fi
            du -sh "${SOURCE_CODE_DIR}/${p}"
            ls -hl "${SOURCE_CODE_DIR}/${p}"
          done
          for p in "${github_pkgs[@]}";do
            case "${p}" in
              mingw-w64)
                ver="${MINGW_W64}"
                github_author="mingw-w64"
                project_name="mingw-w64"
                ;;
              python)
                ver="${PYTHON}"
                github_author="python"
                project_name="cpython"
                ;;
              openssl|sqlite|libffi|pkgconf)
                pkg_name=${p^^}
                ver="${!pkg_name}"
                github_author="${p}"
                project_name="${p}"
                ;;
              ninja)
                ver="${NINJA}"
                github_author="ninja-build"
                project_name="ninja"
                ;;
              cmake)
                ver="${CMAKE}"
                github_author="Kitware"
                project_name="CMake"
                ;;
              *)
                error "未知的 GitHub 包: ${p}"
                exit 1
                ;;
            esac
            if [[ "${p}" == "openssl" ]] || [[ "${p}" == "pkgconf" ]]; then
              tail="${p}-${ver}.tar.gz"
            elif [[ "${p}" == "sqlite" ]]; then
              tail="version-${ver}.tar.gz"
            else
              tail="v${ver}.tar.gz"
            fi
            echo "下载${p} 源码版本: ${ver}"
            run "下载${p} 源码" curl_download "${GITHUB_BASE_URL}/${github_author}/${project_name}/archive/refs/tags/${tail}" "${SOURCE_CODE_DIR}"
            echo "解压${p} 源码版本: ${ver}"
            run "解压${p} 源码" archive_extract "${p}" "${SOURCE_CODE_DIR}/${tail}" "${SOURCE_CODE_DIR}"
            du -sh "${SOURCE_CODE_DIR}/${p}"
            ls -hl "${SOURCE_CODE_DIR}/${p}"
          done
          ls -lh "${SOURCE_CODE_DIR}"

