name: Test get version of dependencies

on:
  workflow_dispatch:
    inputs:
      gcc-version:
        description: 'GCC Version'
        required: true
        default: '13.2.0'

jobs:
  build-cross:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install System dependencies
        shell: bash
        env:
          GITHUB_WORKSPACE: ${{ github.workspace }}
          FORCE_COLOR: '1'
        run: |
          set -euo pipefail

          export LOG_DIR="${GITHUB_WORKSPACE}/logs"
          mkdir -p "${LOG_DIR}"
          source "${GITHUB_WORKSPACE}/scripts/functions.sh"

          info "开始安装系统依赖（apt-get）"
          export DEBIAN_FRONTEND=noninteractive

          run "apt-get update" sudo apt-get update

          pkgs=( build-essential automake autoconf libtool m4 liblzma-dev nasm libgmp-dev libmpfr-dev libmpc-dev libisl-dev zlib1g-dev python3 python3-dev tcl tcl-dev )

          for p in "${pkgs[@]}"; do
            install_pkg "安装${p}包" "$p"
          done

          info "系统依赖安装完成"

      - name: Get Dependencies Version
        id: get-versions
        shell: bash
        env:
          GITHUB_WORKSPACE: ${{ github.workspace }}
          GCC_VERSION: ${{ github.event.inputs.gcc-version }}
          DEP_ISON_FILE: "${{ github.workspace }}/dependencies.json"
        run: |
          set -euo pipefail
          source "${GITHUB_WORKSPACE}/scripts/functions.sh"
          info "GCC 版本: ${GCC_VERSION}"
          export_versions_from_json "${DEP_ISON_FILE}" "${GCC_VERSION}" local

          export GITHUB_BASE_URL="https://github.com"
          export GNU_BASE_URL="https://ftp.gnu.org/gnu"

          # optional tuning
          LOG_DIR="${GITHUB_WORKSPACE}/logs"
          export FORCE_COLOR=1
          mkdir -p "${LOG_DIR}"
          IGNORE_REGEX='array subscript 0 is outside array bounds'
          LOG_TAIL_LINES=80
          FAIL_ON_FATAL_IN_SUCCESS=1

          export SOURCE_CODE_DIR="${GITHUB_WORKSPACE}/source-code" && mkdir -p "${SOURCE_CODE_DIR}"

          gnu_pkgs=( gcc binutils libiconv make gdbm gdb )
          github_pkgs=( mingw-w64 ninja cmake pkgconf expat zlib python openssl sqlite libffi pdcurses )

          for p in "${gnu_pkgs[@]}";do
            if [[ "${p}" == "gcc" ]]; then
              ver="${GCC_VERSION}"
              echo "下载${p} 源码版本: ${ver}"
              run "下载${p}-${ver} 源码" curl_download "${GNU_BASE_URL}/${p}/${p}-${ver}/${p}-${ver}.tar.gz" "${SOURCE_CODE_DIR}"
              run "解压${p}-${ver} 源码" archive_extract "${p}" "${SOURCE_CODE_DIR}/${p}-${ver}.tar.gz" "${SOURCE_CODE_DIR}"
              for d in gcc gmp mpfr mpc isl; do
                du -sh "${SOURCE_CODE_DIR}/${d}"
              done
            else
              val="$(echo "$p" | tr '[:lower:]' '[:upper:]')"
              ver=${!val}
              run "下载${p}-${ver} 源码" curl_download "${GNU_BASE_URL}/${p}/${p}-${ver}.tar.gz" "${SOURCE_CODE_DIR}"
              run "解压${p}-${ver} 源码" archive_extract "${p}" "${SOURCE_CODE_DIR}/${p}-${ver}.tar.gz" "${SOURCE_CODE_DIR}"
              du -sh "${SOURCE_CODE_DIR}/${p}"
            fi
          done
          for p in "${github_pkgs[@]}";do
            case "${p}" in
              mingw-w64)
                ver="${MINGW_W64}"
                github_author="mingw-w64"
                project_name="mingw-w64"
                ;;
              python)
                ver="${PYTHON}"
                github_author="msys2-contrib"
                project_name="cpython-mingw"
                ;;
              openssl|sqlite|libffi|pkgconf)
                pkg_name=${p^^}
                ver="${!pkg_name}"
                github_author="${p}"
                project_name="${p}"
                ;;
              ninja)
                ver="${NINJA}"
                github_author="ninja-build"
                project_name="ninja"
                ;;
              cmake)
                ver="${CMAKE}"
                github_author="Kitware"
                project_name="CMake"
                ;;
              expat)
                ver="${EXPAT}"
                github_author="libexpat"
                project_name="libexpat"
                ;;
              zlib)
                ver="${ZLIB}"
                github_author="madler"
                project_name="zlib"
                ;;
              pdcurses)
                ver="${PDCURSES}"
                github_author="wmcbrine"
                project_name="PDCurses"
                ;;
              *)
                error "未知的 GitHub 包: ${p}"
                exit 1
                ;;
            esac
            if [[ "${p}" == "pkgconf" ]] || [[ "${p}" == "expat" ]] || [[ "${p}" == "libffi" ]] || [[ "${p}" == "openssl" ]] || [[ "${p}" == "cmake" ]]; then
              tail="${p}-${ver}.tar.gz"
            elif [[ "${p}" == "sqlite" ]]; then
              tail="version-${ver}.tar.gz"
            elif [[ "${p}" == "pdcurses" ]]; then
              tail="${ver}.tar.gz"
            else
              tail="v${ver}.tar.gz" # cpython-mingw zlib ninja
            fi
            if [[ "${p}" == "libffi" ]] || [[ "${p}" == "cmake" ]]; then
              TAG="v${ver}"
              URL="${GITHUB_BASE_URL}/${github_author}/${project_name}/releases/download/${TAG}/${tail}"
            elif [[ "${p}" == "expat" ]]; then
              EXPAT_TAG="R_${ver//./_}"
              URL="${GITHUB_BASE_URL}/${github_author}/${project_name}/releases/download/${EXPAT_TAG}/${tail}"
            else
              URL="${GITHUB_BASE_URL}/${github_author}/${project_name}/archive/refs/tags/${tail}"
            fi
            run "下载${p}-${ver} 源码" curl_download "${URL}" "${SOURCE_CODE_DIR}"
            run "解压${p}-${ver} 源码" archive_extract "${p}" "${SOURCE_CODE_DIR}/${tail}" "${SOURCE_CODE_DIR}"
            if [[ -f "${SOURCE_CODE_DIR}/${tail}" ]]; then
              du -sh "${SOURCE_CODE_DIR}/${tail}"
            fi
            du -sh "${SOURCE_CODE_DIR}/${p}"
          done

          info "下载与解压步骤完成"

      - name: Check Source Code Directories
        shell: bash
        env:
          GITHUB_WORKSPACE: ${{ github.workspace }}
        run: |
          set -euo pipefail
          source "${GITHUB_WORKSPACE}/scripts/functions.sh"
          export SOURCE_CODE_DIR="${GITHUB_WORKSPACE}/source-code"
          ls -lh "${SOURCE_CODE_DIR}"
          tree -L 3 -a "${SOURCE_CODE_DIR}"

      - name: make sqlite autoconf
        shell: bash
        env:
          GITHUB_WORKSPACE: ${{ github.workspace }}
        run: |
          set -euo pipefail
          source "${GITHUB_WORKSPACE}/scripts/functions.sh"
          export SOURCE_CODE_DIR="${GITHUB_WORKSPACE}/source-code"
          LOG_DIR="${GITHUB_WORKSPACE}/logs"
          mkdir -p sqlite-build sqlite-releases && cd sqlite-build
          "${SOURCE_CODE_DIR}/sqlite/configure" \
            --enable-amalgamation
          make
          make amalgamation-tarball

      - name: check sqlite dir
        shell: bash
        env:
          GITHUB_WORKSPACE: ${{ github.workspace }}
        run: |
          set -euo pipefail
          source "${GITHUB_WORKSPACE}/scripts/functions.sh"
          export SOURCE_CODE_DIR="${GITHUB_WORKSPACE}/source-code"
          LOG_DIR="${GITHUB_WORKSPACE}/logs"
          ls -lh "${SOURCE_CODE_DIR}"
          find "${SOURCE_CODE_DIR}" -type f -name "sqlite-autoconf*.tar.gz" -exec du -sh {} \;


      - name: upload logs
        uses: actions/upload-artifact@v4
        with:
          name: build-logs
          path: "${{ github.workspace }}/logs"

      - name: upload sqlite
        uses: actions/upload-artifact@v4
        with:
          name: sqlite
          path: "${{ github.workspace }}/sqlite-build/sqlite-autoconf*.tar.gz"
