name: Test get version of dependencies

on:
  workflow_dispatch:
    inputs:
      gcc-version:
        description: 'GCC Version'
        required: true
        default: '13.2.0'

jobs:
  build-cross:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install System dependencies
        shell: bash
        env:
          GITHUB_WORKSPACE: ${{ github.workspace }}
          FORCE_COLOR: '1'
        run: |
          set -euo pipefail

          export LOG_DIR="${GITHUB_WORKSPACE}/logs"
          mkdir -p "${LOG_DIR}"
          source "${GITHUB_WORKSPACE}/scripts/functions.sh"

          info "开始安装系统依赖（apt-get）"

          run "apt-get update" sudo apt-get update

          pkgs="git wget tar jq base64"

          run "apt-get install packages" bash -lc 'sudo DEBIAN_FRONTEND=noninteractive apt-get install -y '"$pkgs"

          info "系统依赖安装完成"

      - name: Get Dependencies Version
        id: get-versions
        shell: bash
        env:
          GITHUB_WORKSPACE: ${{ github.workspace }}
          GCC_VERSION: ${{ github.event.inputs.gcc-version }}
          DEP_ISON_FILE: "${{ github.workspace }}/dependencies.json"
        run: |
          set -euo pipefail
          source "${GITHUB_WORKSPACE}/scripts/functions.sh"
          info "GCC 版本: ${GCC_VERSION}"
          run "获取组件版本信息" export_versions_from_json "${DEP_ISON_FILE}" "${GCC_VERSION}" env

      - name: Print Dependencies Version
        shell: bash
        env:
          GITHUB_WORKSPACE: ${{ github.workspace }}
          GCC_VERSION: ${{ github.event.inputs.gcc-version }}
        run: |
          set -euo pipefail
          source "${GITHUB_WORKSPACE}/scripts/functions.sh"

          export MINGW_BASE_URL="https://github.com/mingw-w64/mingw-w64/archive/refs/tags"
          export GNU_BASE_URL="https://ftp.gnu.org/gnu"

          # optional tuning
          export LOG_DIR="${GITHUB_WORKSPACE}/logs"
          export FORCE_COLOR=1
          mkdir -p "${LOG_DIR}"
          IGNORE_REGEX='array subscript 0 is outside array bounds'
          LOG_TAIL_LINES=80
          FAIL_ON_FATAL_IN_SUCCESS=1

          export SOURCE_CODE_DIR="${GITHUB_WORKSPACE}/source-code"

          mkdir -p "${SOURCE_CODE_DIR}" "${GITHUB_WORKSPACE}/logs"

          gnu_pkgs=( binutils libiconv make termcap ncurses readline gdbm gdb )
          pkgs=( gcc mingw-w64 python openssl zstd sqlite expat libffi pkg-config ninja libgnurx xz bzip2 cmake )
          for p in "${gnu_pkgs[@]}";do
            ver="$(echo "$p" | tr '[:lower:]' '[:upper:]')"
            echo "下载${p} 源码版本: ${ver}"
            run "下载${p} 源码" curl_download "${GNU_BASE_URL}/${p}/${p}-${ver}.tar.gz" "${SOURCE_CODE_DIR}"
          done




          ls -lah "${SOURCE_CODE_DIR}"
